<!-- Modal olvide contraseña.-->
<div class="modal modal-dialog" id="registroFacultad" style=" position: fixed;
            top: 0;right: 0; bottom: 0;left: 0; z-index: 1050;display: none; overflow: hidden;outline: 0; max-height: 35%;width: 100%;">
  <!-- Inicio contenido MODAL 1-->
  <div class="modal-content">

    <!--Inicio CUERPO MODAL 1-->
    <div class="modal-body">
      <!--Inicio FORM-->
      <form>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">contact_mail</i>
            <input id="emailOlvido" type="text" class="validate">
            <label for="emailOlvido">Confirmar email</label>
          </div>
        </div>
        <a [routerLink]="'/login'" class="btn btn-danger left">Cancelar <i class="fa fa-refresh"></i></a>
        <a  class="btn btn-success right" id="btnConfirmarEmail">Confirmar<i class="fa fa-arrow-circle-right"></i>
        </a>
      </form>
    </div>

  </div>
</div>
