<main>
  <!--Inicio CONTAINER GENERAL-->
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-sitemap"></i>
            </div>
            <h5 class="card-title center ">Gestión de facultades</h5>
          </div>

          <div class="card-body">

          </div>
          <!-- Fin contenido MODAL 1-->
        </div>
        <!--Fin MODAL 1-->
      </div>

      <div class="col-lg-12 col-md-6 col-sm-12">

        <div class="card card-stats">

          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
              </tr>
              </thead>
              <tbody class="">
              <tr *ngFor="let faculty of faculties">
                <td><h3>{{faculty.name}}</h3></td>
                <td class="td-actions right">
                  <a (click)="openModal(faculty,'act-faculty')"
                     class="btn btn-success btn-link left modal-trigger btn tooltipped" data-position="bottom"
                     data-tooltip="Editar nombre facultad" rel="tooltip">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <jw-modal id="act-faculty">
                    <!--Inicio FORM-->
                    <div class="modal-content">
                      <div class="modal-body">
                        <form #actFaculty="ngForm" (ngSubmit)="updateFaculty()">
                          <div class="row">
                            <div class="input-field col s10">
                              <input [(ngModel)]="currentFaculty.name" name="name" id="facultyName" type="text" class="validate" [value]="faculty.name">
                              <label for="facultyName">Nombre</label>
                            </div>
                            <div class="card-header card-header-success card-header-icon">
                              <div class="card-icon">
                                <i class="fas fa-sitemap"></i>
                              </div>
                            </div>
                          </div>
                          <button type="button"(click)="closeModal('act-faculty')" class="btn btn-danger left">Cancelar</button>
                          <button type="submit" class="btn btn-success right">
                            Actualizar<i class="fa fa-refresh"></i>
                          </button>
                        </form>
                      </div>
                    </div>
                  </jw-modal>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn tooltipped"
                          data-position="bottom" data-tooltip="Deshabilitar facultad">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>


        <div *ngFor="let faculty of faculties" class="card card-stats">
          <div class="card-header card-header-success card-header-icon">

            <p class="card-category left"></p>
            <h3 class="card-title left">
              {{faculty.name}}
            </h3>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
              </tr>
              </thead>
              <tbody class="">
              <tr *ngFor="let program of faculty.programs">
                <td>{{program.name}}</td>
                <td></td>
                <td></td>
                <td class="td-actions right">
                </td>
              </tr>
              </tbody>
            </table>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <!--Fin CONTAINER GENERAL-->
</main>
