<section  class="green darken-4 white-text " style="margin-top: -20px;">

  <div class="container">

    <!--	<a href="#" class="brand-logo center "><img src="Imagenes/logo-cecar-white.png" alt="" class="responsive-img valign profile-image" style="max-width:144px;max-height:120px">
    </a>-->
    <div class="row" align="center">


      <div class="col-md-3">
        <a href="#" class="brand-logo center "><img src="../../../assets/imagenes/logo-cecar-white.png" alt="" class="responsive-img valign profile-image" style="max-width:144px;max-height:110px; padding-top: 15px">
        </a>
      </div>

      <div class="col-md-3">
        <div class="">
          <h2 style="padding-top: 10px;">SIGPQR</h2>
          <figure class="subtitle">
            Corporación universitaria del carbie - CECAR
          </figure>

        </div>
      </div>


    </div>

  </div>
</section>

