<div id="facultades" class="card card-stats">
  <div class="card-header card-header-success card-header-icon">
    <p class="card-category left">{{title}}</p>
    <h3 class="card-title"></h3>
  </div>
  <div class="card-body">
    <table class="table table-striped" *ngIf="entities && entities.length > 0">
      <thead>
      <tr></tr>
      </thead>
      <tbody class="">
      <tr *ngFor="let entity of entities">
        <td>{{entity.name}}</td>
        <td hidden>{{entity.id}}</td>
        <td class="td-actions right">
          <button (click)="restore(entity)" type="button" rel="tooltip" class="btn btn-danger btn-link  btn"
                  data-position="bottom" title="Restaurar">
            <i class="  fas fa-unlock-alt"></i>
            <div class="ripple-container"></div>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons text-danger">access_time</i> Sistema de gestión PQR
    </div>
  </div>
</div>
