<main>
  <!--Inicio CONTAINER GENERAL-->
  <div class="container">
    <!--Inicio ROW-->
    <div class="row">
      <!--Inicio COLUMNAS-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"
                 data-header-animation="true">
              <i class="fas fa-sitemap"></i>
            </div>
            <a [routerLink]="['../','faculties']"><p class="card-category">Facultades</p></a>
            <h3 class="card-title">{{totalFaculties}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>
        </div>
      </div>
      <!--Fin COLUMNAS-->
      <!--Inicio COLUMNAS-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"
                 data-header-animation="true">
              <i class="fas fa-sitemap"></i>
            </div>
            <a [routerLink]="['../','programs']"><p class="card-category">Programas</p></a>
            <h3 class="card-title">{{totalPrograms}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>
        </div>
      </div>
      <!--Fin COLUMNAS-->
      <!--Inicio COLUMNAS-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"
                 data-header-animation="true">
              <i class=" fas fa-user-lock"></i>
            </div>
            <a [routerLink]="['../','users']"><p class="card-category">Docentes</p></a>
            <h3 class="card-title">{{totalUsers}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--Fin ROW-->
    <div class="row">

      <div class="col-md-12">

        <div class="card card-stats">
          <div class="card-header card-header-icon card-header-danger">
            <div class="card-icon">
              <i class=" fas fa-user-lock"></i>
            </div>
            <h5 class="card-title center ">Gestión de inhabilitados</h5>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-12">
            <!--INICIO SECCIÓN FACULTADES-->
           <!-- <div id="facultades" class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <p class="card-category left">FACULTADES</p>
                <h3 class="card-title"></h3>
              </div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                  <tr></tr>
                  </thead>
                  <tbody class="">
                  <tr>
                    <td>FACULTAD DE HUMANIDADES Y EDUCACIÓN</td>
                    <td class="td-actions right">
                      <button type="button" rel="tooltip" class="btn btn-danger btn-link  btn tooltipped"
                              data-position="bottom" data-tooltip="Habilitar facultad">
                        <i class="  fas fa-unlock-alt"></i>
                        <div class="ripple-container"></div>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>FACULTD DE DERECHO Y CIENCIAS POLÍTICAS</td>
                    <td class="td-actions right">
                      <button type="button" rel="tooltip" class="btn btn-danger btn-link  btn tooltipped"
                              data-position="bottom" data-tooltip="Habilitar facultad">
                        <i class="  fas fa-unlock-alt"></i>
                        <div class="ripple-container"></div>
                      </button>
                    </td>

                  </tr>

                  <tr>
                    <td>FACULTAD DE CIENCIAS ECONÓMICAS Y ADMINISTRATIVAS</td>

                    <td class="td-actions right">
                      <button type="button" rel="tooltip" class="btn btn-danger btn-link  btn tooltipped"
                              data-position="bottom" data-tooltip="Habilitar facultad">
                        <i class="  fas fa-unlock-alt"></i>
                        <div class="ripple-container"></div>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">access_time</i> Sistema de gestión PQR
                </div>
              </div>
            </div>-->
            <!-- INICIO SECCIÓN PROGRAMAS-->
            <!--<div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <p class="card-category left">PROGRAMAS</p>
                <h3 class="card-title"></h3>
              </div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead>
                  <tr></tr>
                  </thead>
                  <tbody class="">
                  <tr>
                    <td>ECONOMÍA</td>
                    <td class="td-actions right">
                      <button type="button" rel="tooltip" class="btn btn-danger btn-link  btn tooltipped"
                              data-position="bottom" data-tooltip="Habilitar programa">
                      <i class="  fas fa-unlock-alt"></i>
                      <div class="ripple-container"></div>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">access_time</i> Sistema de gestión PQR
                </div>
              </div>
            </div>-->
            <disabled-section-body></disabled-section-body>
          </div>
        </div>


      </div>


    </div>

  </div>
  <footer class="footer footer-copyright green darken-3 white-text" style="position: fixed; bottom: 0; width: 100%">
  </footer>
</main>
