<main>


  <div class="container">

    <div class="card card-stats">

      <div class="card-header">
        <a class="btn btn-success left modal-trigger" [routerLink]="['add']">
          Nueva solicitud
        </a>

        <ul class="nav nav-pills nav-pills-success nav-pills-icons justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Peticiones" role="tablist">
              <i class="material-icons">info</i> Peticiones
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Quejas" role="tablist">
              <i class="material-icons">location_on</i> Quejas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Reclamos" role="tablist">
              <i class="material-icons">gavel</i> Reclamos
            </a>
          </li>

        </ul>
        <!-- Estas son En espera, en proceso y finalizada-->
      </div>
      <!--Header-->

      <div class="card-body">
        <!-- Aqui inicia el card-content-->
        <div class="tab-content">

          <!--Inicio tabpane-->
          <div class="tab-pane active" id="Peticiones">
            <!--Inicio pane peticiones-->
            1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas, beatae tempora dicta tempore
            modi, eaque minus maiores illum optio ipsa eveniet! Blanditiis quia, eum aut, suscipit sapiente officiis
            harum.

            <div class="row">
              <div class="col s12">

                <ul class="nav nav-pills nav-pills-success" role="tablist">

                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#PeticionEnEspera" role="tablist">
                      En espera
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#PeticionEnProceso" role="tablist">
                      En proceso
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#PeticionFinalizada" role="tablist">
                      Finalizada
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <hr>
            <!--despliegue de contenido de las peticiones-->
            <div class="tab-content">
              <!--Aqui se colocan las solicitudes que vienen del backend-->
              <div class="tab-pane active" id="PeticionEnEspera">
                <div *ngIf="mapRequests.get('open') && mapRequests.get('open').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapRequests.get('open')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"(click)="openNewWindows(awaitingRequest.id)"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a [routerLink]="[awaitingRequest.id,'reply']" title="Responder" style="visibility:visible"
                             class="respuesta pulse btn-floating btn-large  waves-effect waves-light  modal-trigger"><i class="material-icons ">reply</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="PeticionEnProceso">
                <div *ngIf="mapRequests.get('onProcess') && mapRequests.get('onProcess').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapRequests.get('onProcess')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"
                             data-tipo="btn-adj" data-solicitud="'+obj[0]+'"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="PeticionFinalizada">
                <div *ngIf="mapRequests.get('closed') && mapRequests.get('closed').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapRequests.get('closed')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"(click)="openNewWindows(awaitingRequest.id)"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--Fin pane peticiones-->
          <!-- Aqui termina el contenido del tabpane peticiones-->

          <div class="tab-pane" id="Quejas">
            <!--Inicio pane quejas-->
            2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum cumque, doloribus officiis. Facilis
            explicabo excepturi, nulla distinctio fugit consequuntur neque incidunt. Vel laborum a adipisci non
            voluptates, sit excepturi neque.

            <div class="row">
              <div class="col s12">
                <ul class="nav nav-pills nav-pills-warning" role="tablist">

                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#QuejaEnEspera" role="tablist">
                      En espera
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#QuejaEnProceso" role="tablist">
                      En proceso
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#QuejaFinalizada" role="tablist">
                      Finalizada
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <br>

            <div class="tab-content">
              <div class="tab-pane active" id="QuejaEnEspera">
                <div *ngIf="mapComplaints.get('open') && mapComplaints.get('open').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapComplaints.get('open')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red" (click)="openNewWindows(awaitingRequest.id)"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a [routerLink]="[awaitingRequest.id,'reply']" title="Responder" style="visibility:visible"
                             class="respuesta pulse btn-floating btn-large  waves-effect waves-light  modal-trigger"><i class="material-icons ">reply</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="QuejaEnProceso">
                <div *ngIf="mapComplaints.get('onProcess') && mapComplaints.get('onProcess').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapRequests.get('onProcess')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"
                             data-tipo="btn-adj" data-solicitud="'+obj[0]+'"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="QuejaFinalizada">
                <div *ngIf="mapComplaints.get('closed') && mapComplaints.get('closed').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapComplaints.get('closed')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"
                             data-tipo="btn-adj" data-solicitud="'+obj[0]+'"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--Fin pane quejas-->
          <!-- Aqui termina el contenido del tabpane quejas-->


          <div class="tab-pane" id="Reclamos">
            <!--Inicio pane reclamos-->
            3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quam, modi fuga. Iure minima ex non
            pariatur eos explicabo harum sapiente earum sed esse assumenda natus facere, neque cupiditate numquam!

            <div class="row">
              <div class="col s12">
                <ul class="nav nav-pills nav-pills-danger" role="tablist">

                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ReclamoEnEspera" role="tablist">
                      En espera
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ReclamoEnProceso" role="tablist">
                      En proceso
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ReclamoFinalizada" role="tablist">
                      Finalizada
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <br>
            <div class="tab-content">

              <div class="tab-pane active" id="ReclamoEnEspera">
                <div *ngIf="mapClaims.get('open') && mapClaims.get('open').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapClaims.get('open')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"
                             data-tipo="btn-adj" data-solicitud="'+obj[0]+'"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a [routerLink]="[awaitingRequest.id,'reply']" title="Responder" style="visibility:visible"
                             class="respuesta pulse btn-floating btn-large  waves-effect waves-light  modal-trigger"><i class="material-icons ">reply</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="tab-pane" id="ReclamoEnProceso">
                <div *ngIf="mapClaims.get('onProcess') && mapClaims.get('onProcess').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapClaims.get('onProcess')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id">{{awaitingRequest.description}}</div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"
                             data-tipo="btn-adj" data-solicitud="'+obj[0]+'"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="tab-pane" id="ReclamoFinalizada">
                <div *ngIf="mapClaims.get('closed') && mapClaims.get('closed').length>0"
                     class="col s12 m7 l7 card-panel z-depth-2">
                  <div *ngFor="let awaitingRequest of mapClaims.get('closed')"
                       class="col s12 m7 l7 card-panel z-depth-4">
                    <p class="email-subject truncate"><b><h3>{{awaitingRequest.title}}</h3></b></p>
                    <hr class="grey-text text-lighten-2">
                    <div class="email-content-wrap">
                      <div class="row">
                        <div class="col s10 m10 l10">
                          <ul class="collection">
                            <li class="collection-item avatar">
                              <i class=" circle light-blue ">A</i>
                              <span class="email-title">{{currentUser.email}}</span>
                              <p class="truncate grey-text ultra-small">
                                Para,{{awaitingRequest.program.coordinator.email}}</p>
                              <p class="grey-text ultra-small">{{awaitingRequest.created_at}}</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col s2 m2 l2 email-actions">
                          <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                          <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                        </div>
                      </div>
                      <div class="email-content">
                        <div [id]="'sol'+awaitingRequest.id" [innerHTML]="awaitingRequest.description"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="email-reply">
                      <div class="row">
                        <div class="col s4 m4 l4 center-align">
                          <!--href="#modal-02"-->
                          <a [routerLink]="[awaitingRequest.id,'timeline']" title="Historial" data-id="'+(elemento+idSolicitud)+'"
                             data-solicitud="'+obj[0]+'"
                             class="pulse btn-floating btn-large  yellow waves-effect waves-light " data-toggle="tab"
                             data-tipo="btn-histo"><i class="material-icons ">access_time</i></a>
                        </div>
                        <div class="col s4 m4 l4 center-align">
                          <a title="Adjuntos" class="waves-effect btn-floating btn-large pulse waves-light red"
                             data-tipo="btn-adj" data-solicitud="'+obj[0]+'"><i
                            class="material-icons ">attachment</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
          <!--Fin pane quejas-->
          <!--Fin tabpane-->
        </div>
        <!--Fin de contenido tabpane peticiones -->

      </div> <!-- Aqui termina el card-content-->

    </div>
    <!--Stats-->
  </div>
</main>
