
<main>
  <!--Inicio CONTAINER GENERAL-->
  <div class="container">


    <!--Inicio ROW-->
    <div class="row">

      <!--Inicio COLUMNAS-->
      <div class="col-md-4 col-sm-12">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-sitemap"></i>
            </div>
            <p class="card-category"><a class="green-text" [routerLink]="['requests/1']">Peticiones</a></p>
            <h3 class="card-title">1</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>
      <!--Fin COLUMNAS-->

      <!--Inicio COLUMNAS-->
      <div class="col-md-4 col-sm-12">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-sitemap"></i>
            </div>
            <p class="card-category"><a class="green-text" [routerLink]="['requests/2']">Quejas</a></p>
            <h3 class="card-title">3</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>
      <!--Fin COLUMNAS-->

      <!--Inicio COLUMNAS-->
      <div class="col-md-4 col-sm-12">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-sitemap"></i>
            </div>
            <p class="card-category"><a class="green-text" [routerLink]="['requests/3']">Reclamos</a></p>
            <h3 class="card-title">0</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>

    </div>
    <!--Fin ROW-->
  </div>
  <!--Fin COLUMNAS-->
  <!--Fin CONTAINER GENERAL-->
</main>
