<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-8"></div>
            <div class="col-md-4 col-sm-8">
                <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="reset()" style="margin-top: 90px;">
                    <div class="card card-login">
                        <div class="card-header card-header-success text-center">
                            <h4 class="card-title"><i class="card-title">Tienes: </i> <i id='ct'></i><i> Seg</i></h4>
                        </div>

                        <div class="card-body ">
                            <p class="card-description text-center">SIGPQR</p>
                            <div class="container">
                                <div class="input-field">
                                    <i class="material-icons prefix">lock_outline</i>
                                    <input id="email" type="email" class="validate" formControlName="email">
                                    <label for="email">Email</label>
                                </div>
                                <small *ngIf="resetPasswordForm.controls['password'].hasError('pattern')"
                                       class="error">Debe contener minimo 8 caracteres(Al menos una letra en
                                    mayuscula,numeros o caracteres especiales)</small>
                                <div class="input-field">
                                    <i class="material-icons prefix">lock_outline</i>
                                    <input id="pContrasena" type="password" class="validate" formControlName="password">
                                    <label for="pContrasena">Nueva contraseña</label>
                                </div>
                                <small *ngIf="resetPasswordForm.controls['password'].hasError('required') && (resetPasswordForm.controls['password'].touched ||resetPasswordForm.controls['password'].dirty )"
                                       class="error right">Campo obligatorio
                                </small>
                                <div class="input-field">
                                    <i class="material-icons prefix">lock_outline</i>
                                    <input id="sContrasena" type="password" class="validate"
                                           formControlName="CPassword">
                                    <label for="sContrasena">Confirmar contraseña</label>
                                    <small *ngIf="resetPasswordForm.controls['CPassword'].hasError('notequal') && resetPasswordForm.controls['CPassword'].touched"
                                           class="error right">La contraseña no coincide!</small>
                                    <small *ngIf="resetPasswordForm.controls['CPassword'].hasError('required') && resetPasswordForm.controls['CPassword'].touched"
                                           class="error right">Campo obligatorio</small>
                                </div>

                            </div>

                            <div class="center">
                                <button [disabled]="resetPasswordForm.invalid" type="submit"
                                        class="btn btn-next btn-success">
                                    Restablecer<i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>

                        </div>

                        <div class="card-footer justify-content">
                            <a [routerLink]="['/login']" class="btn btn-success btn-link ">Login
                                <div class="ripple-container"></div>
                            </a>

                            <a href="#!" class="btn btn-danger btn-link ">Olvide contraseña
                                <div class="ripple-container"></div>
                            </a>
                        </div>


                    </div>

                </form>
            </div>


            <div class="col-md-2 col-sm-1"></div>


        </div>
    </div>
</header>
<logo-section></logo-section>
