<header>
  <nav class="nav-wrapper green darken-4">
    <div class="container">
      <a href="#" class="brand-logo center "><img src="../../../../assets/imagenes/logo.png" alt="" class="responsive-img valign profile-image" style="max-width:144px;max-height:60px"></a>
      <ul class="right">
        <li>
          <a [routerLink]="['/logout/1']" id="login" class="white-text"><b>Cerrar Sesión</b></a>
        </li>
      </ul>
    </div>
    <a href="#" data-activates="menu-sidenav" class="button-collapse"><i class="material-icons green-text">menu</i></a>
  </nav>

  <!--Inicio UL-SIDENAV -->
  <ul id="menu-sidenav" class="sidenav fixed sidenav-fixed green darken-2" style="width: 305px; left: 0px;">
    <li class="user-details white-text center" style="background-color: #016836;">
      SIG<b>PQR</b>
    </li>
    <li class="user-view green darken-4">
      <div class="row container ">
        <div class="col s4 m4 l4">
          <img  src="../../../../assets/imagenes/avatar-7.png"
               class="img-circle" alt="User Image"
               style="max-width:144px;max-height:80px">
        </div>
        <div class="col s4 m4 l4">
          <a class="white-text"> Administrador</a>
          <a class="white-text"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    </li>
    <!-- Inicio CONTAINER-->
    <div class=" row container mt-3">
      <li class="">
        <a [routerLink]="['/admin']" class="waves-effect waves-teal white-text">
          <i class="material-icons white-text">home</i>Inicio
        </a>
      </li>
      <li class="" *ngIf="iscoordinator()">
        <a [routerLink]="['/coordinador']" class="waves-effect waves-teal white-text">
          <i class="material-icons white-text">home</i>Coordinación
        </a>
      </li>

      <li>
        <a [routerLink]="['users']" class="  waves-effect waves-teal white-text">
          <i class="material-icons white-text">group</i> Usuarios
        </a>
      </li>


      <!-- Inicio UL-->
      <ul class="collapsible ">
        <!-- Inicio-->
        <li>
          <a class="collapsible-header waves-effect waves-teal white-text">
            <i class="material-icons left white-text">dashboard</i>Gestión
          </a>
          <div class="collapsible-body green darken-3">
            <ul>
              <li><a [routerLink]="['faculties']" class="white-text">Facultad</a>
              </li>
              <li><a [routerLink]="['programs']" class="white-text">Programa</a>
              </li>
              <li><a [routerLink]="['coordinators']" class="white-text">Coordinador</a>
            </ul>
          </div>
        </li>
      </ul>
      <!-- Fin UL-->
      <li class="">
        <a [routerLink]="['disabled']"  class="   waves-effect waves-teal white-text">
          <i class="material-icons white-text">error</i>Inhabilitados
        </a>
      </li>

    </div>
  </ul>
  <!-- Fin Ul-SIdeNAv-->
</header>
