<main>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div *ngIf="solicitud && solicitud.attachments" class="row card">
                <div class="row" *ngFor="let item of solicitud.attachments;"
                     style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                    <div class="col-sm-7">{{item.name}}</div>
                    <div class="col-sm-5" style="text-align:center;">
                        <a class="btn btn-primary" download (click)="download(item)">Download</a>
                    </div>
                    <!--<a [href]="url+item.route" download target="_blank">{{item.name}}</a>-->
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</main>
