<main>

  <div class="container">

    <div class="row">

      <div class="col-lg-4  col-sm-12">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-sitemap"></i>
            </div>
            <p class="card-category"><a class="green-text" href="vistaUsuarioEstudiante.php">Peticiones</a></p>
            <h3 class="card-title">0</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-12">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-sitemap"></i>
            </div>
            <p class="card-category"><a class="green-text" href="vistaUsuarioEstudiante.php">Quejas</a></p>
            <h3 class="card-title">0</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-12">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-users"></i>
            </div>
            <p class="card-category"><a class="green-text" href="vistaUsuarioEstudiante.php">Reclamos</a></p>
            <h3 class="card-title">0</h3>
          </div>

          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <footer class="footer footer-copyright green darken-3 white-text" style="position: fixed; bottom: 0; width: 100%">
  </footer>

</main>
